<div class="footer">
    <div class="links">
        <LinkTo @route = "index" class="link" >Home</LinkTo>
        <LinkTo @route = "project" class="link">Project</LinkTo>
        <LinkTo @route = "education" class="link">Education</LinkTo>
        <LinkTo @route = "about" class="link">About</LinkTo>
        <LinkTo @route = "contact" class="link">Contact</LinkTo>
    </div>

    <div class="address">
        <address>
            <h2>Address</h2>
            <p>
            SY.No. 12*/4*, Sirvoi,<br>Padammol, Quepem,<br> Goa-403705.
            </p>
            <a href="tel:+917020414453">+91 7020414453</a><br>
            <a href="mailto:melroybarreto61@gmail.com">melroybarreto61@gmail.com</a>
        </address>
    </div>

    <div class="social">
        <h2>Social</h2>
        <a href="https://github.com/melroy-b">{{svg-jar "github" class="icon git" width="26px" fill="white"}}</a>

        <a href="https://www.linkedin.com/in/melroy-barreto-33a806193/">{{svg-jar "linkedin" class="icon linkdin" width="24px" fill="white"}}</a>

        <a href="https://www.facebook.com/mbarretooo/">{{svg-jar "facebook" class="icon fb" width="24px" fill="white"}}</a>

        <a href="https://www.instagram.com/m_3arreto_10/?hl=en">{{svg-jar "instagram" class="icon ig" width="24px" fill="white"}}</a>
    </div>
</div>