<LinkTo @route = {{@route}} {{on 'mouseover' this.imgDark}}>
    <div class="item-wrapper">
        <div class="background-img">
            <img ...attributes >
        </div>
            
        <div class="subtitle">
            <h2>{{@subtitle}}</h2>
        </div>
    </div>
</LinkTo> 