<LinkTo @route = "{{@item.page}}">
    <div class="item-wrapper">
        <div class="background-img">
            <img src = {{@item.image}} >
        </div>
            
        <div class="subtitle">
            <h2>{{@item.subtitle}}</h2>
        </div>
    </div>
</LinkTo> 