<div class="menu">
    <LinkTo @route = "index" class="menu-index">
        <h1>MelroyBarreto</h1>
    </LinkTo>

    <div class="details">
        <div class="detail home">
            <LinkTo @route = "index">
                <h2>Home</h2>
            </LinkTo>
        </div>
        <div class="detail about">
            <LinkTo @route = "about">
                <h2>About</h2>
            </LinkTo>
        </div>
        <div class="detail contact">
            <LinkTo @route = "contact">
                <h2>Contact</h2>
            </LinkTo>
        </div>
    </div>
</div>