<Jumbo>
    <div class="side">
        <div class="myimage">
            <img src="assets/images/melroy.png" alt="Picture of Melroy">
        </div>

        <div class="text">
            <h2>THIS IS ME. I MEAN 'HIM'</h2>
            <p>Melroy Barreto is an ETC engineer graduate (BATCH OF 2020) and aspiring web developer currently surviving the gruesome PANDEMIC with a positive attitude.</p>
            <p>Melroy loves doing what he does best 'constant search for inspiration' which he does find most of times. He works well under pressure and it wouldn't hurt to mention he aspires to be bilingual someday.<br> Also, he rarely refers to himself in the third person.</p>
            <p>Spoiler alert: He wrote this bio.</p>
        </div>
    </div>

    <div class="quote">
        <p><em>For those who have strong thoughts impossible is a matter of opinion...<br>~anonymous</em></p>
    </div>
</Jumbo>