<Jumbo>
    <div class="contact">
        <h2>Reach Out</h2>
        <address>
            <h3>Address</h3>
            <p>
            SY.No. 12*/4*, Sirvoi,<br>Padammol, Quepem,<br> Goa-403705.
            </p>
            <a href="tel:+917020414453">+91 7020414453</a><br>
            <a href="mailto:melroybarreto61@gmail.com">melroybarreto61@gmail.com</a>
        </address>

        
    </div>
</Jumbo>