<Jumbo>
    <h1>Reach Out</h1>
    <div class="contact">
        <address>
            <h2>Address</h2>
            <p>
            SY.No. 12*/4*, Sirvoi,<br>Padammol, Quepem,<br> Goa-403705.
            </p>
            <a href="tel:+917020414453">+91 7020414453</a><br>
            <a href="mailto:melroybarreto61@gmail.com">melroybarreto61@gmail.com</a>
        </address>
    </div>
</Jumbo>