<Jumbo>
        <h3>High School and Higher Secondary School</h3>
        <span>Name: </span> <b>Don Bosco (HS & HSS)</b>
        <p>Well one can say I am really attached to this school. I have been studying in this school right from 1st std to 12th (science)  and yeah the school and college is same part of the building. This school blooms with the possibility of extracurricular activities (Literally all kinds of sports including my favourite which is <b>football</b> ) as you can see on the map it has its own Oratory and Football field which spans the length of two football fieds (the green patch on map)...</p>
        <p>For more details check the <a href="https://www.dbhspanjim.edu.in/">school site</a></p>

    <Map />

    <h3>College (Goa University)</h3>
        <span>Name: </span><b>Padre Conceicao College of Engineering</b><br>
        <span>Course: </span><b>Electronics and Telecommunications Engineering</b>
    <p>Completed my degree course in PCCE with a percentage average of <b>72.6%</b>.</p>
    
</Jumbo>