<Jumbo>
    <h1>Welcome to my Personal Page !!</h1>
    <p>You can find almost anything about me on this website. My final year project, education to name a few....  </p>

    <div class="portfolio-items-wrapper">
        <li><ImageWrapper @route = "project" src = "/assets/images/PROJECT.jpg" @subtitle = "Project"/></li>
        <li><ImageWrapper @route = "education" src = "/assets/images/EDUCATION.jpg" @subtitle = "Education"/></li>
        <li><ImageWrapper @route = "about" src = "/assets/images/ABOUT.jpg" @subtitle = "About"/></li>
        <li><ImageWrapper @route = "contact" src = "/assets/images/CONTACT.jpg" @subtitle = "Contact"/></li>
    </div>
</Jumbo>